.main h1,
.main h3 {
    text-align: center;
}

.feed {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post {
    width: 500px;
    margin: 0.2rem;
    padding: 0.2rem;
    text-align: center;
    cursor: pointer;
    max-width: calc(100vw - 50px);
}

.post img {
    width: 100%;
    transition: 0.2s;
    border-radius: 5px;
    max-width: calc(100vw - 50px);
    box-shadow: 0px 0px 2px black;
}

.post img:hover {
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 30%);
    transform: scale(1.05, 1.05);
    transition: all 0.3s ease-in-out;
}

.paginator {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginator div {
    margin: 0.4rem;
}

.paginator .active {
    cursor: pointer;
}

.paginator .disabled {
    cursor: not-allowed;
    color: rgb(179, 179, 179);
}