
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}
.main .section {
  display: flex;
  padding: 1.5rem;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.animation {
  width: auto;
  height: auto;
  display: grid;
  justify-content: center;
  align-content: center;
}


.main h2 {
  font-size: 25px;
}

.main h1 {
  font-weight: 600;
  font-size: 40px;
}

.main p {
  font-size: 18px;
  margin: 0
}

.main img {
  align-self: center;
  justify-self: center;
  object-fit: cover;
  object-position: 20% 10%;
  width: 180px;
  border-radius: 100%;
}


