.main {
    margin: auto;
    width: 750px;

    max-width: calc(100vw - 50px);
}


.mainImage {
    width: 100%;
    align-items: center;
}

.body p {
    font-size: clamp(16px, 4vw, 22px);
    text-indent: 50px;
    text-align: justify;
}